
.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
  height: 100%;
}
.modal {
  max-width: 400px;
  background-color: black;
  color: white;
}
